/*Variabler*/
/*
    farge   
    rgb(5, 28, 59)      mørk
    rgb(30, 61, 90)
    rgb(87, 133, 156)
    rgb(128, 164, 190)
    rgb(229, 239, 238)  lys rgb(245, 230, 206);

    hoved: #ddd             
    mørk:  #333
    lys:   #fff sdsadsadsada

*/ 

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

body{
    background: rgb(245, 230, 206);
    margin: 0px 40px;
    line-height: 1.4;
}
/* Buttons */
.btn{
    background: rgb(204, 165, 126);
    color: #fff;
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

.btn:hover{
    background: #fff;
    color: #333;
}

img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    grid-gap: 20px;
}

/* Logo */
.logo{
    background: rgb(79, 15, 9);
    color: #fff;
    text-align: center;
}

/* Navigation bar */
.main-nav ul{
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a{
    background: #ddd;
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: 0px 1px 4px rgb(104, 104, 104);
}

.main-nav a:hover{
    background: #333;
    color: #fff; 
}

/* Top container*/
.top-container{
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

/*showcase*/
.showcase{
    grid-area: showcase;
    min-height: 400px;
    background-image: url(https://images.pexels.com/photos/332090/pexels-photo-332090.jpeg);
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: 0px 1px 4px rgb(104, 104, 104);
}

.showcase h1{
    font-size: 4rem;
    margin-bottom: 0;
    color: #fff;
    text-shadow: 0px 3px 2px #333
    
}

.showcase p{
    font-size: 1.3rem;
    margin-top: 0;
    color: #fff;
}

/* Top box */
.top-box{
    background: #ddd;
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: 0px 1px 4px rgb(104, 104, 104);
    padding: 1.5rem;
}

.top-box .price{
    font-size: 2.5rem
}

.top-box-a{
    grid-area: top-box-a;
}

.top-box-b{
    grid-area: top-box-b;
}

/* boxes */
.boxes{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.box{
    background: #ddd;
    text-align: center;
    padding: 1.5rem 2rem;
    grid-gap: 20px;
    box-shadow: 0px 1px 4px rgb(104, 104, 104);
}

/* info */
.info{
    background: #ddd;
    box-shadow: 0px 1px 4px rgb(104, 104, 104);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}

/* mat bilder */
.food{
    display: grid;
    grid-gap: 20px;
     /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-template-columns:
}

.food img{
    width: 100%;
    box-shadow: 0px 1px 4px rgb(104, 104, 104);
}

/* footer */
footer{
    margin-top: 2rem;
    background: rgb(5, 28, 59);
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/*Media "Tablet" queries*/
@media(max-width: 725px){
    .top-container{
        grid-template-areas:
            'showcase showcase'
            'top-box-a top-box-b';
    }
    
    .showcase h1{
        font-size: 2.5rem;
    }
    
    .main-nav ul{
        grid-template-columns: 1fr;
    }
    
    .info{
        grid-template-columns: 1fr;
        
    }
    
    info .btn{
        display: block;
        text-align: center;
        margin: auto;
    }
}

/*Media "Phone" queries*/
@media(max-width: 500px){
    .top-container{
        grid-template-areas:
            'showcase'
            'top-box-a'
            'top-box-b';
    }
}
 